<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org/DTD config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="vendor" type="com.icia.testShop.entity.Vendor" />
		<typeAlias alias="product" type="com.icia.testShop.entity.Product"/>
	</typeAliases>
</configuration>